<%= link_to "New Task", new_task_path, id: "new_link" %>

<%= DateTime.now.to_date.strftime "%A, %B %d, %Y" %>

<h2>Incompleted Tasks</h2>
<div class="tasks" id="incomplete_tasks">
  <%= render @incomplete_tasks %>
</div>

<h2>Comlpeted Tasks</h2>
<div class="tasks" id="complete_tasks">
  <%= render @complete_tasks %>
</div>