<h3><%= @event.event_title %></h3>
<p>Start Time: <%= @event.start_time.strftime "%A, %B %d, %Y, %I:%M %P" %></p>
<p>End Time: <%= @event.end_time.strftime "%A, %B %d, %Y, %I:%M %P" %></p>
<p>Description: <%= @event.description %></p>

