<h1 id="welcome">Welcome to the Planner</h1>

<% if !user_signed_in? %>
     <div id="login"><%= link_to "Log in", new_user_session_path %></div>
     <div id="signup"><%= link_to "Sign up", new_user_registration_path %></div>
<% end %>