/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

body {
    margin: 0%;
}

nav {
    background-color: navy;
    height: 70px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav ul{
    list-style:none;
    margin:0;
    padding:0;
}

nav ul li {
    display: inline;
    font-size: 20px;
}

nav a {
    display:inline-block;
    padding: 20px;
    color: white;
}

a {
    text-decoration: none;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    opacity: 1;
    pointer-events: inherit;
    width: auto;
} 

#title {
    margin: 0%;
    background-color: cornflowerblue;
    text-align: center;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    font-size: 20px;
    margin-left: 20px;
}

.form h1 {
    margin: 0px;
    margin-left: 0%;
    padding: 0px;
    text-align: center;
    background-color: cornflowerblue;
    height: 100px;
    color: wi
}

.form div {
    padding-bottom: 20px;
}

.form input[type=text] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 250px;
    margin-left: 20px;
}

.form input[type=email] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 250px;
    margin-left: 20px;
}

.form input[type=password] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 250px;
    margin-left: 20px;
}

.form select {
     padding-top: 10px;
     padding-bottom: 10px;
    margin-left: 20px;
    font-size: 15px;
    background-color: white;
}

.form textarea{
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 250px;
    margin-left: 10px;
    height: 60px;
    
}   

.form input[type=submit] {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: cornflowerblue;
    color: white;
}
