// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
    margin-left: 20px;
}

.form {
    font-size: 20px;
    margin-left: 20px;
}

.form div {
    padding-bottom: 20px;
}

// .form input[type=text] {
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-right: 250px;
//     margin-left: 20px;
// }

.form select {
    // padding-top: 10px;
    // padding-bottom: 10px;
    margin-left: 20px;
    font-size: 15px;
    background-color: white;
}

.form textarea{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 250px;
    margin-left: 10px;
    height: 60px;
    
}   

.form input[type=submit] {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: #E4535E;;
    color: white;
}

.form table {
    font-size: 20px;
    padding-bottom: 30px;
    color: navy;
}

.form table a {
     color: darkslategrey;
     font-size: 15px;
}

#show {
    margin-left: 20px;
}

#show h2{
    font-size: 30px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#show p{
    color: navy;
    font-size: 25px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#show p strong{
    color: darkred;
    font-size: 25px;
}

#show p a {
    color: black;
}

#all_events {
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}

#all_events {
    font-size: 25px;
}

#all_events table td {
    font-size: 25px;
    padding: 20px;

}

#all_events #event_title {
        padding-right: 100px;
        color: navy;
}

#all_events a {
        text-align: center;
        padding-right: 50px;
        color: darkred;
        // // border: 3px solid pink;
        // background-color: pink;
} 

#events {
    text-align: center;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}

#events h3 a{
    font-size: 25px;
    color: #1A405F;
}

