// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
    margin-left: 20px;
}

.form {
    font-size: 20px;
    margin-left: 20px;
}

input[type=text] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    margin-left: 20px;
    font-size: 20px;
}

select {
    padding-top: 10px;
    padding-bottom: 10px;
    // padding-right: 100px;
    margin-left: 20px;
    font-size: 20px;
    background-color: white;
}

textarea{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    margin-left: 10px;
    height: 60px;
    font-size: 20px;
}


table {
    font-size: 20px;
    padding-bottom: 30px;
    color: navy;
}

table a {
     color: darkslategrey;
     font-size: 15px;
}

