// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tasks {
    margin-left: 20px;
}

#date  {
    // margin-left: 20px;
    padding-bottom: 30px;
}

#incompleted_tasks {
    color: red;
}

#completed_tasks {
    color: green;
}

#new_link {
    color: navy;
}

.tasks {
    font-size: 20px;
}

#delete_task {
    color: darkslategrey;
    font-size: 15px;
}


