// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tasks {
    margin-left: 20px; 
}

#date  {
    // margin-left: 20px;
    padding-bottom: 30px;
}

#incompleted_tasks {
    font-size: 25px;
    color: red;
}

#completed_tasks {
    font-size: 25px;
    color: green;
}

#new_link {
    color: navy;
}

#tasks h2{
    font-size: 30px;
}

#tasks h3{
    font-size: 25px;
}


#delete_task {
    color: darkslategrey;
    font-size: 15px;
}

#task_form input[type=text] {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

#task_form input[type=submit] {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: #1A405F;
    color: white;
}