// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#calendar {
    margin-top: 50px;
    font-size: 20px;    
}

#calendar a {
    color: #337BAE;
}

#event_or_task {
    text-align: center;
    margin:  auto;
    padding-top: 100px;
    font-size: 30px;
    display: inline-block;
    text-align: center;
}

#event, #event a {
    text-align: center;
    display: inline;
    padding: 10px;
    // color: cornflowerblue;
    // font-size: 50px;
    // position: fixed;
    // top: 50%;
    // left: 40%;
    // transform: translate(-50%, -50%);
}

#task, #task a {
    text-align: center;
    display: inline;
    padding: 10px;
    // color: cornflowerblue;
    // font-size: 50px;
    // position: fixed;
    // top: 50%;
    // left: 60%;
    // transform: translate(-50%, -50%);
}

#events h3, #events a {
    font-size: 20px;
    margin: 0%;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: navy;
}

// #addEvent {
//     display: inline;
//     top: 10%;
//     left: 30%;
//     transform: translate(-50%, -50%);

// }

// #showEvent {
//     display: inline;
//     top: 10%;
//     left: 70%;
//     transform: translate(-50%, -50%);
// }


