// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event {
    text-align: center;
    font-size: 50px;
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}


#task {
    text-align: center;
    font-size: 50px;
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

// #events {
//     background-color: wheat;
//     height: 100px;
//     text-align: center;
//     font-size: 20px;
//     margin: 0%;
//     margin-bottom: 50px;
// }

// #addEvent {
//     display: inline;
//     top: 10%;
//     left: 30%;
//     transform: translate(-50%, -50%);

// }

// #showEvent {
//     display: inline;
//     top: 10%;
//     left: 70%;
//     transform: translate(-50%, -50%);
// }
